In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
dataset=pd.read_csv('data.csv')

In [3]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
dataset['condition'].head()

0    3
1    3
2    3
3    5
4    3
Name: condition, dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [6]:
scaler=StandardScaler()
dataset[['sqft_living','sqft_lot','sqft_above','sqft_basement','sqft_living15','sqft_lot15']]=scaler.fit_transform\
(dataset[['sqft_living','sqft_lot','sqft_above','sqft_basement','sqft_living15','sqft_lot15']])

C:\Users\Mukul\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Mukul\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [7]:
dataset.drop(['id'],inplace=True,axis=1)

In [8]:
dataset.drop(['date'],inplace=True,axis=1)

In [9]:
dataset.shape

(21613, 19)

In [10]:
x=dataset[['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view',\
           'condition','grade','sqft_above','sqft_basement','yr_built','yr_renovated','zipcode','lat','long','sqft_living15','sqft_lot15']]
y=dataset['price']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(15129, 18)
(6484, 18)
(15129,)
(6484,)

In [12]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train)
print('y intercept :',regressor.intercept_)
print('slope is :',regressor.coef_)

y intercept : 2368485.6702416623
slope is : [-3.11939329e+04  3.70363974e+04  7.79860617e+04  9.88926007e+03
  1.20271512e+04  5.91514062e+05  5.34921730e+04  2.65777968e+04
  9.57187257e+04  7.15453611e+04  2.79715739e+04 -2.58198268e+03
  1.60385305e+01 -5.25167021e+02  6.06436791e+05 -2.05321911e+05
  1.97675585e+04 -1.30400158e+04]

In [13]:
y_pred=regressor.predict(X_test)
pred_mat=pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
pred_mat.head()

          Actual     Predicted
17384   297000.0  3.848860e+05
722    1578000.0  1.522092e+06
2680    562100.0  5.415964e+05
18754   631500.0  5.804400e+05
14554   780000.0  9.741045e+05

In [14]:
from sklearn import metrics
print('Mean Absolute Eroor :',metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error :',metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Eroor :',np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Eroor : 124034.75533298463
Mean Squared Error : 42863880415.46083
Root Mean Squared Eroor : 207035.93991252058